{% extends "base.html" %}

{% block content %}

<h1>Welcome, {{ user.first_name }}</h1>

<a href="{% url 'edit_profile' user_pk=user.pk %}">Settings</a>

<img src="{{ user.image.url }}"/>

<p>Location</p>
<p>{{ user.location }}</p>

<p>About Me</p>
<p>{{ user.bio }}</p>

<a href="{{ user.web_link }}">Personal Page</a>

<a href="{{ user.github_link }}">GitHub Page</a>

<h3>Questions</h3>
    {% for question in questions %}
    <a class="" href="{% url 'question_detail' question_pk=question.pk %}">{{ question.title }}</a>
    {% endfor %}
<h3>Answers</h3>
    {% for answer in answers %}
    <a class="" href="{% url 'question_detail' question_pk=answer.question.pk %}#answer-{{ answer.pk }}">{{ answer.title }}</a>
    {% endfor %}

{% endblock %} 