{% extends "base.html" %}
{% load markdownify %}

{% block content %}

<h1>{{ question.title }}</h1>
{% if user_favorite_question %}
<a id="favorited" data-question-id="{{ question.pk }}" href="#">Unfavorite this recipe</a>
{% else %}
<a id="favorited" data-question-id="{{ question.pk }}" href="#">Favorite this recipe</a>
{% endif %}
<p>Tags</p>
<div>
    {% for tag in question.tags.all %}
        <a class="" href="{% url 'show_tag' tag_name=tag.tag %}">{{ tag }}</a>
    {% endfor %}
</div>
<p>{{ question.user }}</p>
<p>{{ question.body |markdownify }}</p>

{% if user.is_authenticated %}
<a href="{% url 'add_answer' question_pk=question.pk %}">Add an Answer</a>
{% endif %}

<h3>Answers</h3>
    {% for answer in answers %}
        <ul id="answer-{{ answer.pk }}">{{ answer.title }}
            <li>User: {{ answer.author }}</li>
            <li>{{ answer.body |markdownify }}</li>
        </ul>
    {% endfor %}

{% if user.is_authenticated %}
<a class="bg-gray f5 link dim br3 ph3 pv2 mb2 dib fw5" href="{% url 'delete_question' question_pk=question.pk %}">Delete Question</a>
{% endif %}


{% endblock %} 