{% extends "base.html" %}
{% load markdownify %}

{% block content %}

<h1>{{ question.title }}</h1>
{% if user.is_authenticated %}
{% if user_favorite_question %}
<a id="favorited" data-question-id="{{ question.pk }}" href="#">&#9734;</a>
{% else %}
<a id="favorited" data-question-id="{{ question.pk }}" href="#">&#11088;</a>
{% endif %}
{% endif %}
<p>Tags</p>
<div>
    {% for tag in question.tags.all %}
        <a class="" href="{% url 'show_tag' tag_name=tag.tag %}">{{ tag }}</a>
    {% endfor %}
</div>
<p>{{ question.user }}</p>
<p>{{ question.body |markdownify }}</p>

<h3>Answers</h3>
    {% for answer in answers %}
        <ul id="answer-{{ answer.pk }}">{{ answer.title }}
            <li>User: {{ answer.author }}</li>
            <li>{{ answer.body |markdownify }}</li>
            {% if user == question.user %}
            <a id="mark-correct" data-question-id="{{ question.pk }}" data-answer-id="{{ answer.pk }}" href="#">{% if answer.marked_correct %} Marked Correct {% else %} &#9989 {% endif %}</a>
            {% endif %}
        </ul>
    {% endfor %}

{% if user.is_authenticated %}
<h4>Add an Answer</h4>
<form action="{% url 'add_answer' question_pk=question.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button class="" type="submit">Add Answer</button>
    </div>
</form>

<a class="bg-gray f5 link dim br3 ph3 pv2 mb2 dib fw5" href="{% url 'delete_question' question_pk=question.pk %}">Delete Question</a>
{% endif %}

{% endblock %} 