{% extends "base.html" %}

{% block content %}

<h1 class="">Search</h1>

<form action="{% url 'search_questions' %}" method="GET">
    <input type="search" name="q" placeholder='Search Question Box' class="">
    <div class="">
        <button class="" type="submit">Search</button>
    </div>
</form>

<div class="">
{% if questions is not None %}
    {% for question in questions %}
        <a class="" href="{% url 'question_detail' question_pk=question.pk %}">{{ question.title }}</a>
    {% empty %}
        <p>There are no questions that match this search</p>
    {% endfor %}
{% endif %}
</div>

{% endblock %} 